/* css dokumentet för hela websidan */


*{
    margin: 0;
    padding: 0;

    /*Variabler för färger*/
    --darkBlue: rgb(135, 167, 240);
    --blueAccent: rgb(141, 203, 250);
    --baseBlue: rgb(141, 214, 231);
    --tourqoise: rgb(141, 251, 242);
    --green: rgb(136, 242, 204);
    --textgrey: #6a6a6a;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

/*All content på sidan*/
body {
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    
    background: rgb(141,214,231);
    background: linear-gradient(0deg, rgba(141,214,231,1) 35%, rgba(141,203,250,1) 100%);
}


/* Allt i header*/
header {
    height: 10vh;
    max-height: calc(10vh);    
    background-color: var(--green);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 50px;
}

#logo_header {
    /* min-height: 40px;
    min-width: 40px; */
    position: absolute;
    left: 0;
    height: 80%;
    padding: 0.75vw;
    top:0%;
}

/* Allt i footer */
footer{
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    background-color: var(--green);
    min-height: 50px;
}

/* Centrar knapp vertikalt i header*/
header button {
    white-space: nowrap;
    padding: 5%;

}

/* Ändrar knappar i footer */
footer button{
    align-self: center;
    white-space: nowrap;
}

/* Skicka till vänster */
.left{
    justify-content: flex-start;
}

/* Skicka till höger */
.headform{
    margin-left: auto;
    align-self: center;
    margin-right: 2%;
    display: flex;
    padding: 2%;
    right:0;
    position: absolute;
    height: 3vh;
}

.headform input{
    padding: 0.5rem;
}

/* Objekt i mitten på startsidan */
.search_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    white-space: nowrap;
    padding: 1rem;
}
.howToUseImg{
max-width: 65vw;
}

/*Bilder*/
#search_image {
    width: 25vw;
    min-width: 300px;
    padding: 5vh 5vh 5vh 5vh;
}

.cookiesImg{
    height: 20vh;
}

#brick_left{
    position: absolute;
    left: -50px;
    height: 100%;
}

#brick_right{
    position: absolute;
    right: -50px;
    height: 100%;
}

/* Sökruta på search sidan*/
#resultSearchbar{
    border: solid black;
    border-width: 2px;
    height: 3vh;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: 0;
    box-shadow:  5px 5px 5px rgba(0, 0, 0, 0.2);
}

/* Ruta för text */
input{
    font-size: 1rem;
    border-radius: 2rem;
    padding: 0.5%;
    padding-left: 1%;
    color: var(--textgrey);
}

/* Alla popups */
.popup{
    display: flex;
    justify-content: center;
    align-items: center;

}

.popuptext{ 
    display: none;
    width: 70vw;
    border-radius: 2rem;
    z-index: 1;
    background-color: white;
    position: absolute;
    top: 10vw;
    justify-self: center;
    padding: 2%;
    box-shadow:  5px 5px 5px rgba(0, 0, 0, 0.2);
}

/* Alla knappar */
button{
    background-color: var(--darkBlue);
    border: solid var(--darkBlue);
    color: black;
    font-size: 2rem;
    padding: 0.5%;
    border-radius: 2rem;
    height: 6vh;
    min-height: 3rem;
    box-shadow:  5px 5px 5px rgba(0, 0, 0, 0.2);
}

#how_to_use_btn {
    margin-right: auto;
    margin-left: auto;
}

#how_to_use_btn_min{
    display: none;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    margin-left: 6vw;
    margin-right: 5vw;
}

#about {
    padding: 5%;
}

#cookies {
    padding: 5%;
}
/*close knapp i popup*/
.closeBtn {
    float: right;
    border-radius: 50%;
    text-align: center;
    width: 3rem;
    height: 3rem;
    padding: 0;
    font-size: 2rem;
    background-color: tomato;
    border: solid tomato;
    transform: rotate(45deg);
}


/* Sökrutan på huvudsidan */
#search_bar{
    min-width: 300px;
    height: 3vh;
    width: 25vw;
    border: solid rgb(0, 0, 0);
    border-width: 2px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: 0;
    box-shadow:  5px 5px 5px rgba(0, 0, 0, 0.2);
}

form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


#searchBtn{
    height: 3vh;
    width: 2rem;
    background-color: white;
    border: solid black;
    border-width: 2px;
    border-radius: 50%;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow:  5px 5px 5px rgba(0, 0, 0, 0.2);
}


/* När alla knappar svävas över */
button:hover{
    cursor: pointer;
    color: white;
    border: solid var(--tourqoise);
    }

button:active{
    transition: ease-in-out 0.3s;
    box-shadow: none;
}

/*När searchBtn svävas över*/

#searchBtnHover{
    display: none;
    height: 3vh;
    width: 2rem;
    background-color: white;
    border: solid black;
    border-width: 2px;
    border-radius: 50%;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.titleText{
    padding-top: 3vh;
    text-align: center;
    font-size: calc(20px + 5vh);
}

.subTitleText{
    text-align: center;
    font-size: calc(5px + 2vh);
}

.brickinfo{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    margin: 5%;
    border: solid black;
    background-color: var(--tourqoise);
    height: 20vw;
    position: relative;
    
    height: fit-content;
    border-radius: 1rem;
    min-height: 100px;
    box-shadow:  5px 5px 5px rgba(0, 0, 0, 0.2);
    
}

.brickinfo .imgbox {
    height: 100%;
    position: absolute;
    right: 0;
    
}

.brickinfo img{
    border-left: solid black;
    justify-self: end;
    height: 100%;
    max-width: 200px;
    
    border-radius: 0rem 0.7rem 0.7rem 0rem;
}

.brickinfo section{
    text-align: center;
    padding: 5%;
    font-size: calc(15px + 2vh);
}

.brickinfo section a{
    color: black;
}

.brickinfo section a:link{
    text-decoration: none;
}

/* from w3schools */
#topBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 1%; /* Place the button at the bottom of the page */
    right: 1.5%;
    z-index: 99; /* Make sure it does not overlap */
    background-color: var(--tourqoise); /* Set a background color */
    color: black; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    font-size: 1.5rem;
    display: none;
    padding: 0.5%  1% 0.5% 1%;
    border-radius: 20rem;
    border: solid black;
  }

#topBtn:hover{
    border: solid var(--textgrey);
}

.container{
    display: flex;
}

.colorInfo{
    background-color: var(--green);
    padding: 5%;
    margin: 5%;
}




@media only screen and (max-width: 850px) {
    #how_to_use_btn{
        display: none;
    }
    #how_to_use_btn_min{
        display: block;
        left: 20%;
    }
    header{
        justify-content: space-between;
    }
    .headform{
        position: relative;
    }
    #logo_header{
        position: relative; 
        width: 10vh;

        height: 80%;
        padding: 0.75vw;
    }
    .popuptext{
    margin:12%;
    }
    #brick_left{
        display: none;
    }
    
    #brick_right{
        display: none;
    }
 
}

.noResults{
    font-size: larger;
    padding: 10%;
}
.noResults p{
    padding-top: 1%;

}

