/* css dokumentet för hela websidan */


/*Variabler för färger*/


*{
    margin: 0;
    padding: 0;
    --darkBlue: rgb(135, 167, 240);
    --blueAccent: rgb(141, 203, 250);
    --baseBlue: rgb(141, 214, 231);
    --tourqoise: rgb(141, 251, 242);
    --green: rgb(136, 242, 204);
    --textgrey: #6a6a6a;
    
}

/*All content på sidan*/
body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    justify-content: space-between;
    background: rgb(141,214,231);
    background: linear-gradient(0deg, rgba(141,214,231,1) 35%, rgba(141,203,250,1) 100%);
}

/* Allt i header*/
header {
    display: flex;
    flex-direction: row;
    background-color: var(--green);
    height: 10%;
    justify-content: space-between;
}

/*Objekt i header*/
section{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

/* Skicka till vänster */
.left{
    justify-content: flex-start;
}

/* Skicka till höger */
.right{
    margin-left: auto;
    align-self: center;
    margin-right: 2%;
}

/* Knapp i center "How to use" */
#header_section2{
    justify-content: center;
}

/* Centrar knapp vertikalt */
#how_to_use_btn {
    align-self: center;  
}

/* Objekt i mitten på startsidan */
.search_section{
    align-self: center;
    flex-grow: 4;
}

/* Sökrutan på huvudsidan */
#search_bar{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 25vw;
}

input{
    font-size: 1rem;
    border-radius: 2rem;
    padding: 0.5%;
    padding-left: 1%;
    color: var(--textgrey);
}

footer{
    display: flex;
    flex-direction: row;
    background-color: var(--green);
    height: 10%;
    justify-content: center;
    justify-content: space-around;

}

.footer_btn{
    align-self: center;
}

button{
    background-color: var(--darkBlue);
    border: solid var(--darkBlue);
    color: black;
    font-size: 2rem;
    padding: 0.5%;
    border-radius: 2rem;
}

button:hover{
    cursor: pointer;
    border: solid var(--tourqoise);
}